* {
    -moz-user-select: none;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#otherWeather i{
    margin: 10px 3px;
}

/* #weather div:not(:first-of-type){
    opacity: 0.6;
} */

#weather{
    margin: 10px;
    color: white;
}

#temperature {
    font-size: 30px;
}

#forecast div span:first-of-type{
    display: block;
    margin: 8px;
}

.wi-celsius {
    margin-right: 6px;
}

#otherWeather span:not(:last-of-type){
    border-right: 2px solid rgba(255,255,255,0.3);
    padding-right: 10px;
}

#sunrise {
    margin: auto auto 10px;
    font-size: 12px;
}

#sunrise i:first-of-type {
    border-right: 2px solid rgba(255,255,255,0.3);
    padding-right: 10px;
}

#forecast {
    border-top: 2px solid rgba(255,255,255,0.3);
}

#forecast_tomorrow {
    display: inline-block;
    margin-right: 30px;
}

#forecast_dayafter {
    display: inline-block;
}

body {
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block:hover h1{
    top:20%;
    opacity: 0.5;
}

.block:hover .hidden{
    display: inline;
}

.block:hover {
    background-color: rgba(0,0,0,0.8);
}

.block_weather:hover {
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}

.block_weather:hover #otherweather{
    opacity: 1.0; 
}

#time {
    text-align: center;
    color: white;
    font-size: 90px;
}

#date {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-top: 1px solid white;
    width: 250px;
    margin: 20px auto 20px;
}

#center {
    margin: auto;
    width: 1400px;
    text-align: center;
}

@media only screen and (max-width: 1600px) {
    #center {
        width: 1050px;
    }
}

@media only screen and (max-width: 1200px) {
    #center {
        width: 80%;
        margin: auto;
    }

    #searchDiv {
        max-width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    #center {
        width: 350px;
    }
}

.block_weather {
    width: 270px;
    height: 180px;
    margin: 5px;
    float: left;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    border-radius: 5px;
}

.block{
    width: 270px;
    height: 180px;
    margin: 5px;
    float: left;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    border-radius: 5px;
    transition: height 1s;
    position: relative;
}

.block h1 {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.block div{
    display: none;
    position: absolute;
    margin: auto;
    width: 200px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

h1{
    letter-spacing: 2px;
    color: #d4e6f1;
    font-size: 30px;
}

a {
    text-decoration: none;
    color:  white;
    display: block;
    padding: 4px;
    letter-spacing: 2px;
    font-size: 16px;
}

#searchDiv {
    max-width: 50%;
    margin: 20px auto 40px;
}
#searchInput {
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}